<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Sonidos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding  *ngFor="let animal of animales; let i = index" (click)="reproducir(animal)">
      <ion-item>
        <ion-avatar item-left>
          <img [src]="animal.imagen">
        </ion-avatar>
        <h2>{{ animal.nombre }}</h2>
        <ion-icon name="play" item-right *ngIf="!animal.reproduciendo"></ion-icon>
        <ion-icon name="pause" item-right *ngIf="animal.reproduciendo"></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="borrar_animal(i)">
          <ion-icon name="trash"></ion-icon>
          Borrar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
